.widget.shortcut-widget-box{
    background: #ebeef0!important;
}

.widget.links-widget-box {
    background: #f9fafa;
    border: solid 1px #e3dede;
}
.widget.custom-block-widget-box{
    padding: 0 !important;
}
.btn-primary{
    background: #d3aa68 !important;
}
.navbar {
    background: #d3aa68 !important;
}
.desk-sidebar .standard-sidebar-item.selected{
    background-color: #d3aa688f!important;
}
@media (max-width: 1500px) and (min-width: 768px){
    .ce-block.col-xs-12.col-sm-6.col-md-4, 
    .ce-block.col-xs-12.col-sm-5{
        flex: 0 0 50%;
        max-width: 50%;
    }
}
.navbar-home img{
    width: 45px !important;
    max-height: unset !important;
}