.widget.shortcut-widget-box{
    background: #ebeef0!important;
}

.widget.links-widget-box {
    background: #f9fafa;
    border: solid 1px #e3dede;
}
.widget.custom-block-widget-box{
    padding: 0 !important;
}
.btn-primary{
    background: #d3aa68 !important;
}
.navbar {
    background: #d3aa68 !important;
}
.desk-sidebar .standard-sidebar-item.selected{
    background-color: #d3aa688f!important;
}